<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#ccc">
    <a href="/">Home</a>    |
    <a href="/insert">Insert</a>    |
    <a href="/display">Display</a>    |
    <a href="/edit">Edit</a>    |
    <h1 align="center"> The CoreCard Pvt. Ltd. Bhopal</h1>
    <h2 align="center">The Employee Display Page</h2>
    <table align="center" bgcolor="pink" border="1px" width="700px">
        <tr>
            <th>Empolyee No.</th>
            <th>Empolyee Name</th>
            <th>Empolyee City</th>
            <th>Empolyee Salary</th>
        </tr>

     <%
      data.forEach((key)=>{  %>
        
           <tr>
            <td><%=key.empno%></td>
            <td><%=key.name%></td>
            <td><%=key.city%></td>
            <td><%=key.salary%></td>
           </tr>

      <%
     })
     %>  
    </table>
    
</body>
</html>